<% @profile = Profile.find_by_user_id(current_user) %>
<div class="formHdBox">
    <div class="tableHd">Your Location</div>
</div>


<% content_for :sidebar do %>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=true">
</script>


<script type="text/javascript">

function pos(){
	navigator.geolocation.getCurrentPosition(showpos)
}

function showpos(position){
	var lat=position.coords.latitude;
	var lon=position.coords.longitude;
	var mapOptions = {
		center: new google.maps.LatLng(lat,lon),
		zoom: 8,
	};
	var map = new google.maps.Map(document.getElementById("map-canvas"),
	    mapOptions);
}
google.maps.event.addDomListener(window, 'load', pos);
</script>

<div id="map-canvas" />
<% end %>











<h3>GOOGLE MAPS</h3>


<!-- LATITUDE AND LONGITUDE ON MAP -->

<p id="demo">Click the button to get your position:</p>
<button onclick="getLatLong()">Lat Long</button>
<button onclick="getMap()">Map</button>
<div id="mapholder"></div>
<script>
// var x=document.getElementById("demo");

// check();


function getMap()
  {
  if (navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(showMap,showError);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }


function getLatLong()
  {
  if (navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(showLatLong,showError);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }

function showMap(position)
  {
  var latlon=position.coords.latitude+","+position.coords.longitude;

  var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
  +latlon+"&zoom=14&size=400x300&sensor=false";
  document.getElementById("mapholder").innerHTML="<img src='"+img_url+"'>";
  }

  function showLatLong(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
  }

function showError(error)
  {
  switch(error.code) 
    {
    case error.PERMISSION_DENIED:
      x.innerHTML="User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML="Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML="The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML="An unknown error occurred."
      break;
    }
  }
</script>


<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;  
  }
</script>



















<script>
  var country,state,city,pinCode;
  function createCORSRequest(method, url) {
    var xhr = new XMLHttpRequest();

    if ("withCredentials" in xhr) {
      // XHR for Chrome/Firefox/Opera/Safari.
      xhr.open(method, url, true);

    } else if (typeof XDomainRequest != "undefined") {
      // XDomainRequest for IE.
      xhr = new XDomainRequest();
      xhr.open(method, url);

    } else {
      // CORS not supported.
      xhr = null;
    }
    return xhr;
  }

  function getLocationDetails()
  {
  hide();
  latitude1=document.getElementById("latitude").value;
  longitude1=document.getElementById("longitude").value;

  var url="http://maps.googleapis.com/maps/api/geocode/json?latlng="+
          latitude1+","+longitude1+"&sensor=true";
      var xhr = createCORSRequest('POST', url);
             if (!xhr) {
               alert('CORS not supported');
             }
           
             xhr.onload = function() {
          
              var data =JSON.parse(xhr.responseText);
              
              if(data.results.length>0)
              {
              
              var locationDetails=data.results[0].formatted_address;
              var  value=locationDetails.split(",");
              
              count=value.length;
              
               country=value[count-1];
               state=value[count-2];
               city=value[count-3];
               pin=state.split(" ");
               pinCode=pin[pin.length-1];
               state=state.replace(pinCode,' ');         
               document.getElementById("val").innerHTML=country+
                 " | "+state+" | "+city+"  | "+pinCode;
              }
              else
              {
               document.getElementById("messageBox").style.visibility="visible";
               document.getElementById("message").innerHTML=
                 "No location available for provided details.";
              }
              
             };

             xhr.onerror = function() {
                 alert('Woops, there was an error making the request.');
                 
             };
          xhr.send();
          
  }

  function hide()
  {
  document.getElementById("messageBox").style.visibility="hidden";
  }
</script>



<!-- HTML Code  -->
<body onload="hide()">
  <div>
    Latitude:<input type="text" id="latitude"><br><br>
    Longitude:<input type="text" id="longitude"><br><br>
    <input type="button" value="Get Location" 
    onclick="getLocationDetails()"></button>
    <br><br>
    <label id="val"></label>
  </div>
  <div id="messageBox" style="position:fixed; top:30%; left:30%; width:200px; height:100px; border-radius:15px; text-align:center; background-color:skyblue">
    <div style="position:absolute; margin-top:0px; left:2px; height:20px; width:98%; border-radius:5px; overflow:hidden; background-color:pink;">
      <label id="title" style="color:blue;">Skin Advisor</label>
    </div>
    <div style="position:absolute; margin:2px; top:25px; height:80px; width:100%">
      <label id="message" style="color:blue; font-family:Helvetica"></label>
    </div>
  </div>
</body>